<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><strong class="brand-title">Twitter</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="tweets/{{getCurrentUser()}}">My tweets</a>
        </li>
        <li routerLinkActive="active"><a routerLink="tweets">Tweets</a>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-text navbar-right" *ngIf="getCurrentUser()" (click)="logout()"><a href="/">Logout</a></div>
    </div>
  </div>
</nav>

